.johnson.close.icon:hover {
	cursor:  pointer;
	border-radius:10px;
}
.johnson.ui.segment.bloc.annonces {
	background-color: #ECEFF1;
	box-shadow: 5px 5px 5px grey;
}

.johnson.ui.massive.green.button {
	box-shadow: 3px 3px 3px pink;
}
.johnson.ui.fullscreen.modal {
	top: 20%;
}
