body {
	font-family: ubuntu;
	background-color: #FEFEFE;
	zoom:100%;
		#bandeau {
			background-color: #1b1c1d;
			font-family: Open Sans, sans-serif;
			color: white; 
				img.ui.centered.small-medium.image {
					border-radius:50%;}
		}
		.bio {
		padding: 30px;
		text-align: auto; 
			h2.ui.horizontal.divider {
			text-align: center;
			font-size: 21px; }
			.bio_paragraphe {
				text-align: justify;
				font-family: ubuntu; }
		}
}