
<div class="image-formation">
  <img src="img/groupe.jpg" width="100%" height="900">
</div>


<h1 class="ui header column centered"><div class="sub header">Simplon.co est un réseau de fabriques sociales du numérique qui propose des formations intensives pour apprendre à créer des sites web et des applications mobile, et en faire son métier. La formation s’adresse prioritairement aux jeunes de moins de 25 ans, non diplômés ou peu diplômés, issus des quartiers populaires et des milieux ruraux, mais également aux demandeurs d’emploi en reconversion ainsi qu’aux femmes et aux séniors</div>
</h1>



<h1 class="ui header column centered">Actualité<div class="sub header">Actualités<div class="sub header">En partenariat avec l’École Régionale de la 2ème Chance (ER2C) et la région Midi-Pyrénées, Simplon.co a lancé la 1er promotion de formation développeur Web le 23 novembre 2015 à Toulouse. Partenaire et porteur du projet : Ecole Régionale de la 2ème Chance (ER2C)</div>
</h1>

<h1 class="ui header">Partenaires :</h1>

<div class="ui four column grid">
  <div class="column">
    <img class="ui tiny image" src="img/Région_Midi-Pyrénées.svg.png">
  </div>

  <div class="column">
    <img class="ui tiny image" src="img/er2c.jpeg">n

  </div>

  <div class="column">
    <img class="ui tiny image" src="img/logoRVoltaire.png">
  </div>

  <div class="column">
   <img class="ui small image" src="img/logoLaMelee.png">

 </div>
</div>
