
<div class="image-formation">
  <img src="img/groupe.jpg" width="100%" height="900">
</div>


<h1 class="ui header column centered"><div class="sub header">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
  ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
  in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
  mollit anim id est laborum.</div>
</h1>



<h1 class="ui header column centered">Actualité<div class="sub header">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
  ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
  in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
  mollit anim id est laborum.</div>
</h1>

<h1 class="ui header">Partenaires :</h1>

      <div class="ui four column grid">
        <div class="column">
          <img class="ui left small image" src="img/er2c.jpeg">
        </div>

        <div class="column">
            <img class="ui left medium image" src="img/logoLaMelee.png">
        </div>

        <div class="column">
            <img class="ui left small image" src="img/logoRVoltaire.png">
        </div>

        <div class="column">
            <img class="ui left small image" src="img/Région_Midi-Pyrénées.svg.png">
        </div>
      </div>
