<div class="container segment">

  <div class="image-formation">
    <img class="ui fluid image" src="img/groupe.jpg">
  </div>

  <div class="texte1">
    <img class="ui medium left floated image" src="img/simplonMIP.png">
    <p>Apprendre à coder gratuitement en 6 mois, c’est possible avec la nouvelle fabrique sociale du numérique Simplon Midi-Pyrénées!
     Aujourd’hui, l’école s’installe à Toulouse, pour son dynamisme et ses nombreuses opportunités d’emploi dans le numérique.
     Une présentation de la formation intensive "Développeur Web" sera faite lundi 9 novembre à 17:00 à la Cantine.
     Venez nombreux.</p>
   </div>

   <div class="texte2">
    <img class="ui medium right floated image" src="img/code.jpg">
    <p>Apprendre à coder gratuitement en 6 mois, c’est possible avec la nouvelle fabrique sociale du numérique Simplon Midi-Pyrénées!
     Aujourd’hui, l’école s’installe à Toulouse, pour son dynamisme et ses nombreuses opportunités d’emploi dans le numérique.
     Une présentation de la formation intensive "Développeur Web" sera faite lundi 9 novembre à 17:00 à la Cantine.
     Venez nombreux.</p>
   </div>

   <div class="actu">
    <h2>Actualité</h2>
    <p>Apprendre à coder gratuitement en 6 mois, c’est possible avec la nouvelle fabrique sociale du numérique Simplon Midi-Pyrénées!
     Aujourd’hui, l’école s’installe à Toulouse, pour son dynamisme et ses nombreuses opportunités d’emploi dans le numérique.
     Une présentation de la formation intensive "Développeur Web" sera faite lundi 9 novembre à 17:00 à la Cantine.
     Venez nombreux.</p>
   </div>


   <h1 class="part">Partenaires :</h1>
   <div class="ui tiny images">    
    <img class="ui image" src="img/er2c.jpeg">
    <img class="ui image" src="img/logoRVoltaire.png">
    <img class="ui image" src="img/logoLaMelee.png">
    <img class="ui image" src="img/Région_Midi-Pyrénées.svg.png">
  </div>
</div>
