<div class="ui segment equal width center aligned padded">
        <h2><b>Contacter Nous</b></h2>
    </div>
    <div class="ui stackable equal width center aligned padded grid cards">
        <div class="card">
            <div class="image">
                <img src="465121097-photo.gif" alt="image exterieur de l'école de la deuxieme chance de toulouse">
            </div>
            <div class="content">
                <h2 class="header">Ecole Régionale de la Deuxième Chance</h2>
                <div class="meta">
                    <p>
                        57 Allée de Bellefontaine<br>
                        BP 13589 <br>
                        31035 Toulouse<br>
                        N° : 0534637980
                    </p>
                </div>
                <a href="mailto:er2c@er2c-mip.com">er2c@er2c-mip.com</a>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="photo-JFk.jpg" alt="image de Jean François KAPPES">
            </div>
            <div class="content">  
                <h3 class="header">Jean François KAPPES</h3>
                <div class="meta">
                    <p>
                        Directeur Général <br>de Simplon MIP
                        <br>N° : 0676450629
                    </p>
                </div>
                <a href="mailto:jfkappes@simplon.co">jfkappes@simplon.co</a>
            </div>
        </div>
    </div>
    <div class="ui equal width center aligned padded grid">
        <iframe class="ui grid padded" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2890.9827344492605!2d1.3980822510158866!3d43.565242866029486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aeba33de7bc5d7%3A0x9e745dbd96efccad!2s57+All%C3%A9e+de+Bellefontaine%2C+31100+Toulouse!5e0!3m2!1sfr!2sfr!4v1452854804881" width="650" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
