<div class="ui stackable equal width center aligned padded grid">
  <div class="column">
    <div class="ui segment">
      <div class="ui header">
        <h2><b>Contactez-Nous</b></h2>
      </div>
      <div class="ui equal width center aligned padded grid">
        <div class="ui stackable equal width center aligned padded grid">
          <div class="ui content">
            <img src="img/ecole.gif" alt="image exterieur de l'école de la deuxieme chance de toulouse" class="ui card">
            <h3>
             <a href="http://www.er2c-mip.com/">Ecole Régionale de la Deuxième Chance</a>
           </h3> 
           <p>
             57 Allée de Bellefontaine</br>
             BP 13589 </br>
             31035 Toulouse<br>
             N° : 0534637980</p>
             <p>er2c@er2c-mip.com</p>
             <div class="ui divider"></div>
             <img src="img/photo-JFk.jpg" alt="image de Jean François KAPPES" class="ui card">  
             <h3>Jean François KAPPES</h3>
             <p>Directeur Général <br>de Simplon MIP
              <br>N° : 0676450629</p>
              <a href="mailto:jfkappes@simplon.co">jfkappes@simplon.co</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui equal width center aligned padded grid">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2890.9827344492605!2d1.3980822510158866!3d43.565242866029486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aeba33de7bc5d7%3A0x9e745dbd96efccad!2s57+All%C3%A9e+de+Bellefontaine%2C+31100+Toulouse!5e0!3m2!1sfr!2sfr!4v1452854804881" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>       