<body>
  <div class="ui two column container grid">
    <div class="column">
      <div class="ui fluid stackable card">
        <div class="content">
          <h3>
           <a href="http://www.er2c-mip.com"> Ecole Régionale de la Deuxième Chance</a>
         </h3> 
         <p>
           57 Allée de Bellefontaine</br>
           BP 13589 </br>
           31035 Toulouse</p>
           <p>N° : 0534637980</p>
         </div>
       </div>
     </div>
     <div class="column">
      <div class="ui fluid card">
        <div class="content">
          <h3>Jean François KAPPES</h3>
          <p>Directeur Général <br>de Simplon MIP
            <br>N° : 0676450629</p>
          <a href="mailto:jfkappes@simplon.co">jfkappes@simplon.co</a>
        </div>
      </div>
    </div>
    <div class="centered column">
      <div class="ui fluid card">
      <div class="center aligned content">
          <iframe id ="googlemap" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2575.262000033153!2d1.4242951157806092!3d43.572511085864505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1450795862046" width="545" height="386" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</body>
