<!doctype html>
<html class="no-js" lang="fr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Basic Starter Pack | Simplon</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<link rel="stylesheet" href="Semantic-UI-CSS-master/dist/semantic.min.css">
</head>
<body>
	<div class="ui center aligned container grid">
		<div class="column row">
			<section id="main"></section>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum .</p>

		</div>
		<div class="column row">
			<button class="ui button">
				Déposer une annonce
			</button>
		</div>
<div class="ui segments">
			
			<div class="ui segment">
				<div class="ui feed">
					<div class="event">
						<div class="label">
							<img src="http://1.1.1.4/bmi/semantic-ui.com/images/avatar/small/joe.jpg">
						</div>
						<div class="content">
							<div class="summary">
								<a>Louis Métais</a> Titre de l'annonce
								<div class="date">
									Le 15/06/2016
								</div>
							</div>
							<div class="extra text">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Bonjour je suis Louis et j'aimerais travailler. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum .
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ui segment">
				<div class="ui feed">
					<div class="event">
						<div class="label">
							<img src="http://1.1.1.4/bmi/semantic-ui.com/images/avatar/small/joe.jpg">
						</div>
						<div class="content">
							<div class="summary">
								<a>Louis Métais</a> Titre de l'annonce
								<div class="date">
									Le 15/06/2016
								</div>
							</div>
							<div class="extra text">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Bonjour je suis Louis et j'aimerais travailler. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum .
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ui segment">
				<div class="ui feed">
					<div class="event">
						<div class="label">
							<img src="http://1.1.1.4/bmi/semantic-ui.com/images/avatar/small/joe.jpg">
						</div>
						<div class="content">
							<div class="summary">
								<a>Louis Métais</a> Titre de l'annonce
								<div class="date">
									Le 15/06/2016
								</div>
							</div>
							<div class="extra text">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Bonjour je suis Louis et j'aimerais travailler. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum .
							</div>
						</div>
					</div>
				</div>
			</div>
</div>
		<div class="ui modal">
			<div class="header">
				<i class="close icon"></i>
				Rédiger une annonce
			</div>		
			<div class="ui form">
				<div class="field">
					<textarea name="text_annonces"></textarea>
				</div>
			</div>

			<div class="actions">				
				<div class="ui positive right labeled icon button">
					Envoyer
					<i class="checkmark icon"></i>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
