<div class="ui one column doubling stackable grid container">
  <p>
    Depuis le 1er juin 2015, Simplon.co délivre au nom du FAFIEC le Certificat de Qualification Professionnelle « Développeur Nouvelles Technologies« , inscrit au Registre National des Certifications Professionnelles.
  </p>
</div>

<div class="ui two column doubling stackable grid container">
  <h2>Le CQP DNT Java : c’est quoi ?</h2>
  <p>
    Une formation pour devenir développeur·se logiciel, c’est à dire pour apprendre à créer des programmes informatiques, des logiciels, des applications, des sites Internet, et en faire son métier. L’objectif est d’être en mesure de concevoir, développer, documenter, déployer, soutenir et maintenir une application logicielle (principalement sur Java, J2EE, Spring), en équipe et en lien avec les donneurs d’ordre et les utilisateurs. Certification : CQP DNT signifie « Certification de Qualification Professionnelle – Développeur Nouvelle Technologie ». Il s’agit d’une certification de branche débouchant sur un équivalent bac+3. Formats :
    540h  en contrat de professionnalisation (donc en alternance) pour les demandeurs d’emplois). Durée totale : 9 à 11 mois
    340h en période de professionnalisation pour les salariés. Durée totale : de 3 à 6 mois (à définir selon les besoins)
  </p>
</div>

  <div class="column">
    <img src="../img/java.jpg" alt="">
  </div>

</div>

<div class="ui two column doubling stackable grid container">
  <div class="column">
    <p>
      Validation à l’issue de la formation : évaluation continue, pratique en entreprise, mise en situation, jury Publics cibles éligibles : au contrat de professionnalisation : jeunes de moins de 26 ans, et demandeur·se·s d’emploi de plus de 26 ans à la période de professionnalisation : salarié·e·s (en poste ou en reconversion)
    </p>
  </div>

  <div class="column">
      <p>
        La première session commencera à Paris XIVe le 16 novembre 2015 (Cf. candidatures ci-dessous), mais des sessions de formation seront également organisées courant 2016 à Paris, Montreuil, Lyon, Marseille. Pour en savoir plus, abonnez-vous à notre newsletter : nous annoncerons les nouveautés quand il y en aura. Pour des informations plus exhaustives sur la pédagogie, sur le contenu du programme, etc. : le référentiel sur le site du Fafiec. Et voici davantage d’informations sur le cadre, le rythme d’alternance, les conditions du contrat de professionnalisation, etc.
      </p>
  </div>
</div>