<div class="ui one column doubling stackable grid container">
  <h2>La formation Dev à Simplon.co c’est quoi ?</h2>
  <p>
    Apprendre à créer des sites Internet et des applications web, et en faire son métier
    En intensif, sur un cycle de 6 mois
    Un apprentissage par la pratique, par projets
    Une formation gratuite
    Une formation ouverte à tous, et en priorité à des profils encore peu représentés dans le domaine : non-diplômés, demandeurs d’emploi, bénéficiaires de minima sociaux, personnes originaires de quartiers prioritaires, zones rurales, objectif de parité hommes-femmes. Et ce car il n’y a plus besoin d’être ingénieur ou très diplômé pour programmer
    Une formation dont la sélection se fait sur la motivation et l’envie de travailler en équipe !
    Un écosystème riche comprenant une communauté de mentors, de professionnels, des partenaires publics, privés et non-marchands…</p>
</div>

<div class="ui two column doubling stackable grid container">
  <div class="column">
    <h2>Le programme des 6 mois de formation ?</h2>
    <p>
      Des compétences et des technologies : le développement « front-end » (ce qu’on voit à l’écran, avec HTML, CSS et Javascript), le développement « back-end » (les coulisses, les fonctionnalités), l’administration systèmes (sous Linux), la programmation d’objets connectés, la gestion de projet et la conception d’interfaces
      Des méthodes : méthodologies agiles, pair programming, etc.
      Des outils : Git, Github, Slack, Sublime text, etc.
      Des ouvertures sur d’autres domaines : Sécurité, environnement, intelligence artificielle, consommation collaborative, entrepreneuriat, communication, marketing, … Autant de sujets qui pourront donner lieu à des interventions, sur votre demande notamment.
      Nouveau dès novembre 2015 : possibilité de faire certifier sa formation au travers d’un titre professionnel inscrit au RNCP (Développeur logiciel, niveau III)
    </p>
  </div>

  <div class="column">
    <img src="../img/code-small.jpg" alt="">
  </div>

</div>

<div class="ui two column doubling stackable grid container">
  <div class="column">
    <h2>Front-End</h2>
    <p>
      Apprendre à créer des sites Internet et des applications web, et en faire son métier
      En intensif, sur un cycle de 6 mois
      Un apprentissage par la pratique, par projets
      Une formation gratuite
      Une formation ouverte à tous, et en priorité à des profils encore peu représentés dans le domaine : non-diplômés, demandeurs d’emploi, bénéficiaires de minima sociaux, personnes originaires de quartiers prioritaires, zones rurales, objectif de parité hommes-femmes. Et ce car il n’y a plus besoin d’être ingénieur ou très diplômé pour programmer
      Une formation dont la sélection se fait sur la motivation et l’envie de travailler en équipe !
      Un écosystème riche comprenant une communauté de mentors, de professionnels, des partenaires publics, privés et non-marchands
    </p>
  </div>

  <div class="column">
    <h2>Back-End</h2>
      <p>
        Des compétences et des technologies : le développement « front-end » (ce qu’on voit à l’écran, avec HTML, CSS et Javascript), le développement « back-end » (les coulisses, les fonctionnalités), l’administration systèmes (sous Linux), la programmation d’objets connectés, la gestion de projet et la conception d’interfaces
        Des méthodes : méthodologies agiles, pair programming, etc.
        Des outils : Git, Github, Slack, Sublime text, etc.
        Des ouvertures sur d’autres domaines : Sécurité, environnement, intelligence artificielle, consommation collaborative, entrepreneuriat, communication, marketing, … Autant de sujets qui pourront donner lieu à des interventions, sur votre demande notamment.
        Nouveau dès novembre 2015 : possibilité de faire certifier sa formation au travers d’un titre professionnel inscrit au RNCP (Développeur logiciel, niveau III)
      </p>
  </div>
</div>

<div class="ui one column doubling stackable grid container">
  <h2>La formation Dev à Simplon.co c’est quoi ?</h2>
  <p>
    Apprendre à créer des sites Internet et des applications web, et en faire son métier
    En intensif, sur un cycle de 6 mois
    Un apprentissage par la pratique, par projets
    Une formation gratuite
    Une formation ouverte à tous, et en priorité à des profils encore peu représentés dans le domaine : non-diplômés, demandeurs d’emploi, bénéficiaires de minima sociaux, personnes originaires de quartiers prioritaires, zones rurales, objectif de parité hommes-femmes. Et ce car il n’y a plus besoin d’être ingénieur ou très diplômé pour programmer
    Une formation dont la sélection se fait sur la motivation et l’envie de travailler en équipe !
    Un écosystème riche comprenant une communauté de mentors, de professionnels, des partenaires publics, privés et non-marchands…
  </p>
</div>