  <h1 class="ui center aligned header">Partenaires</h1>

  <div class="ui two column centered grid">
    <div class="right floated left aligned eight wide column  ">
      
      Simplon.co cherche des partenaires pour soutenir sa consolidation et le développement de son impact social

      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.
    </div>
    <div class="left floated right aligned four wide column " >
      <div class="ui attached segment">
        <p>description accroche pour attirer des partenaires</p>
      </div>
      <div class="huge ui red bottom attached button" tabindex="0">Devenez partenaire </div>
    </div>
  </div>

  <div class="ui center aligned grid">
      <h2 >nos partenaires</h2>
  </div>

  <div class="ui four column centered grid">
    <div class="column">
      <div class="ui fluid card">
        <div class="image">
          <img src="../img/images.duckduckgo.com.jpeg">
        </div>
        <div class="content">
          <a class="header">partenaire1</a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui fluid card">
        <div class="image">
          <img src="../img/images.duckduckgo.com.jpeg">
        </div>
        <div class="content">
          <a class="header">partenaire2</a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui fluid card">
        <div class="image">
          <img src="../img/images.duckduckgo.com.jpeg">
        </div>
        <div class="content">
          <a class="header">partenaire3</a>
        </div>
      </div>
    </div>

  </div>

  <div class="ui four column centered grid">
    <div class="column">
      <div class="ui fluid card">
        <div class="image">
          <img src="../img/images.duckduckgo.com.jpeg">
        </div>
        <div class="content">
          <a class="header">partenaire1</a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui fluid card">
        <div class="image">
          <img src="../img/images.duckduckgo.com.jpeg">
        </div>
        <div class="content">
          <a class="header">partenaire2</a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui fluid card">
        <div class="image">
          <img src="../img/images.duckduckgo.com.jpeg">
        </div>
        <div class="content">
          <a class="header">partenaire3</a>
        </div>
      </div>
    </div>
    
  </div>





     