		<div class="ui equal width center aligned padded grid" id="">
			<div class="sixteen wide column">
				<div class="row">
					<h1 class="ui dividing header" tabindex="0">Promo 2016</h1>	
				</div>
			</div>
		</div>
		<!-- ligne de 4 images sur une rangée-->
		<div id="sebcards" class="ui four stackable cards"> 
			<script id="cardTemplate" type="text/plain">
				<!--chargement des photos avec boucle moustache -->
				{{# users}} 
				<div class="ui mscard">
					<div class="blackwhite"><a href="#"><img src="{{portrait}}" width="100%"></a>
					</div>
					<div class="extra">
						<a><h5 class="header">{{id}}</h5></a>
					</div>
				</div>
				{{/ users}}
			</script>
		</div>
		
		