<div class="ui center aligned segment">
	<h1 class="header">L'Équipe</h1>
</div>
<div class="ui center aligned two column grid">
	<div class="column">
		<div class="ui horizontal segments">
			<div class="ui very padded segment">
				<img class="ui massive image" src="http://lorempicsum.com/futurama/255/200/2">
			</div>
			<div class="ui segment">
				<h3 class="ui dividing header">Jean-François Kappès</h3>
				<h4>Directeur</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga voluptatem ducimus iusto dignissimos delectus quas quidem aperiam aut, eos excepturi, inventore molestias sequi aliquid minima deserunt sunt architecto, sint voluptas.</p>
			</div>
		</div>
	</div>
	<div class="ui center aligned grid">
		<div class=" four wide column">
			<div class="ui very padded attached segment">
				<img class="ui medium image" src="http://lorempicsum.com/futurama/255/200/2">
			</div>
			<div class="ui attached segment">
				<h3 class="ui dividing header">Amine El Gahyate</h3>
				<h4>Formateur Facilitateur</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga voluptatem ducimus iusto dignissimos delectus quas quidem aperiam aut, eos excepturi, inventore molestias sequi aliquid minima deserunt sunt architecto, sint voluptas.</p>
			</div>
		</div>
		<div class=" four wide column">
			<div class="ui very padded attached segment">
				<img class="ui medium image" src="http://lorempicsum.com/futurama/255/200/2">
			</div>
			<div class="ui attached segment">
				<h3 class="ui dividing header">Maxime Pawlak</h3>
				<h4>Formateur Facilitateur</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga voluptatem ducimus iusto dignissimos delectus quas quidem aperiam aut, eos excepturi, inventore molestias sequi aliquid minima deserunt sunt architecto, sint voluptas.</p>
			</div>
		</div>
	</div>
</div>