 <div class="ui grid">
   <div class="sixteen wide column">
    <div class="ui feed">
      <div class="event">
        <div class="label">
          <img src="img/chat1.jpg">
        </div>
        <div class="content">
          <div class="summary"><a>ton nom</a></div>
          <div class="commentaire">
            <a>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit</p>
            </a>
          </div>  
        </div>
      </div>
    </div> 

    <div class="ui feed">
      <div class="event">
        <div class="label">
          <img src="img/chat1.jpg">
        </div>
        <div class="content">
          <div class="summary"><a>ton nom</a></div>
          <div class="commentaire">
            <a>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit</p>
            </a>

          </div>
        </div>
      </div>
    </div>  
    <div class="ui feed">
      <div class="event">
        <div class="label">
          <img src="img/chat1.jpg">
        </div>
        <div class="content">
          <div class="summary"><a>ton nom</a></div>
          <div class="commentaire">
            <a>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit</p>
            </a>
          </div>
        </div>
      </div>
    </div>   
    <div class="ui feed">
      <div class="event">
        <div class="label">
          <img src="img/chat1.jpg">
        </div>
        <div class="content">
          <div class="summary"><a>ton nom</a></div>
          <div class="commentaire">
            <a>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>