<div class="contenu ui grid container">
  
   <div class="sixteen wide column">
   <h1 class="ph-titre" >témoignages de simploniens</h1>
    <div class="ph-temoignage ui feed">
      <div class="event">
        <div class="ph-label">
          <img  class="ui small circular image"  src="http://lorempixel.com/60/60/">
        </div>

        <div class="container ph-content">
          <div class="summary"><h4>nom prénom<h4></div>
          <div class="commentaire">
          
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit</p>
            
          </div>  
        </div>
      </div>
    </div> 

    <div class="ph-temoignage ui feed">
      <div class="event">
        <div class="ph-label">
          <img class="ui small circular image" src="http://lorempixel.com/60/60/">
        </div>
        <div class="container ph-content">
          <div class="summary"><h4>nom prénom<h4></div>
          <div class="commentaire">
            
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit</p>
            

          </div>
        </div>
      </div>
    </div>  
    <div class="ph-temoignage ui feed">
      <div class="event">
        <div class="ph-label">
          <img class="ui small circular image" src="http://lorempixel.com/60/60/">
        </div>
        <div class="container ph-content">
          <div class="summary"><h4>nom prénom<h4></div>
          <div class="commentaire">
            
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit</p>
            
          </div>
        </div>
      </div>
    </div>   
    <div class="ph-temoignage ui feed">
      <div class="event">
        <div class="ph-label">
          <img class="ui small circular image" src="http://lorempixel.com/60/60/">
        </div>
        <div class="container ph-content">
          <div class="summary"><h4>nom prénom<h4></div>
          <div class="commentaire">
            
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
